<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-card>
    	    <md-card-header>
    	        <md-card-title>
    	            <h3>{{ dish.name | uppercase }}</h3>
    	        </md-card-title>
     	    </md-card-header>
    	    <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    	    <md-card-content>
    	        <p>{{ dish.description }}</p>
    	    </md-card-content>
    	    <md-card-actions>
                <button md-button [routerLink]="['/dishdetail',prev]">
                    <span class="fa fa-chevron-left fa-lg">
                    </span>
                </button>
                <button md-button (click)="goBack()">BACK</button>
    	        <button md-button>LIKE</button>
    	        <button md-button>SHARE</button>
                <button md-button [routerLink]="['/dishdetail',prev]">
                    <span class="fa fa-chevron-right fa-lg">
                    </span>
                </button>
    	    </md-card-actions>

        </md-card>
  </div>
   <div [hidden]="dish || errMess">
       <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
   </div>
   <div *ngIf="errMess">
    <h3>Error</h3>
    <p>{{errMess}}</p>
   </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-list>
        <h1 md-line>Comments</h1>

        <md-list-item *ngFor="let dishdetails of dish.comments">
            <h3 md-line><b>{{dishdetails.comment}}</b></h3>
            <p md-line>
            	<span>{{dishdetails.rating}}</span>
            	stars
            </p>
            <h5 md-line>--<span>{{dishdetails.author}}</span> <span>{{dishdetails.date | date}}</span></h5>

        </md-list-item>
    </md-list>

     <div  [hidden]="commentform.invalid">
      <md-list>
       <md-list-item>
          <h3 md-line><b>{{commentform.value.comment}}</b></h3>
          <p md-line>
            <span>{{commentform.value.rating}}</span>
            stars
          </p>
          <h5 md-line>--<span>{{commentform.value.author}}</span></h5>

       </md-list-item>
    </md-list>
         </div>
    
    <form novalidate [formGroup]="commentform" (ngSubmit)="onSubmit()">


        <p>
        <md-input-container class="full-width" dividerColor="{{ formErrors.author ? 'warn' : 'primary'}}">
              <input mdInput formControlName="author" placeholder="Name" type="text" required>
              <md-hint>
                <span [hidden]="!(formErrors.author)">
                  {{formErrors.author}}</span>
              </md-hint>
        </md-input-container>
        </p>
        <md-slider thumbLabel formControlName="rating" tickInterval="1" min="1" max="5" step="1" value="5"></md-slider>
          <p>
            
            <md-input-container class="full-width" dividerColor="{{(formErrors.comment) ? 'warn':'primary'}}">
              <textarea mdInput formControlName="comment" placeholder="Comment" type="text" required rows=12></textarea>
              <md-hint>
                <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}</span>
              </md-hint>
            </md-input-container>
            
          </p>
          <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentform.invalid">Submit</button>
    </form>
  </div>

</div>